{
    "data": [
        {
            "from": [
                {
                    "topic": "主人0421",
                    "contact": "代理群主"
                }
            ],
            "to": [
                {
                    "topic": "小屋"
                },
                {
                    "topic": "Source群"
                }
            ]
        }
    ]
}