{
    "data": [
        {
            "fromType": "room",
            "fromName": "诗篇群发源",
            "senders": ["扎根（鲍弟兄）", "AI机器人", "天空蔚蓝"], // 如果是空，则代表所有人的消息都群发到 destinations
            "destinations": [
                { "type": "room", "topic": "七里渠之光" },
                { "type": "room", "topic": "神恩同学" },
                { "type": "room", "topic": "亲人之家" },
                { "type": "room", "topic": "开心大家庭" },
                { "type": "room", "topic": "重生之路" },
                { "type": "room", "topic": "厢红旗之盐" },
                { "type": "room", "topic": "活水工人" },
                { "type": "room", "topic": "西三旗交流群" },
                { "type": "room", "topic": "西罗亚小组" },
                { "type": "room", "topic": "西奈山jh" },
                { "type": "room", "topic": "活水" }
            ]
        },
        {
            "fromType": "room",
            "fromName": "主人0421",
            "senders": ["AI机器人", "天空蔚蓝"],
            "destinations": [{ "type": "room", "topic": "Source群" }]
        },
        {
            "fromType": "contact",
            "fromName": "天空蔚蓝",
            "senders": [],
            "destinations": [
                { "type": "room", "topic": "Source群" }
            ]
        }
    ]
}
